* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

section{
    height: 100vh;
}

section#hero{
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
section#hero h1{
    font-size: 3rem;
    color: white;
}

section#hero h2{
    font-size: 2rem;
    color: lightgray;
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

section#projects{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


.project-detail{
    border: 5px solid darkgreen;
    border-radius: 15px;
    width: 20%;
    height: 100vm;
    margin: 10px;
}

.project-detail h3{
    font-size: 2rem;
}

.project-detail p{
    font-size: 1.5rem;
}

.project-detail img{
    width: 100%;
}

.project-detail a{
    text-decoration: none;
    color: white;
    font-size: 21px;
}

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
}
nav ul li:hover{
    background: darkgrey;
    box-shadow: 0 0 10px darkgrey, 0 0 40px darkgrey, 0 0 80px darkgrey;
    transition-delay: 0.05s;
}

section#projects{
    background-color: lightseagreen;
}

section#projects h2{
    color: rgb(7, 44, 7);
    text-align: center;
}



section#contact{
    background-color: #272327;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

section#contact form {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
}

section#contact h3 {
    color: white;
    margin: 3rem;
    font-size: 3rem;
}

section#contact form div label {
    color: white
    
}

section#contact form div input {
    margin-left: 5px;
}

section#contact form div textarea {
    margin-left: 5px;
}

section#contact form button{
    margin-top: 10px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    background: #272327;
    text-decoration: none;
    border: none;
}

section#contact form button:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    border-radius: 10px;
    transition-delay: 0.05s;
}